/* CoursePage.css
.course-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.container1,
.container2 {
  padding: 1rem;
}

.container1 {
  width: 65%;
}

.container2 {
  width: 35%;
}

.container1-title,
.container2-title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.image-text-wrapper {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.course-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.course-text {
  width: 50%;
  padding-left: 1rem;
}

.chapter-list {
  width: 90%;
  margin: 0 auto;
}

.chapter-item {
  padding: 0.5rem 0;
  cursor: pointer;
}

.chapter-item:hover {
  background-color: #f0f0f0;
}

@media (max-width: 767px) {
  .container1 {
    order: 2;

    width: 35%;
  }

  .container2 {
    order: 1;

    width: 65%;
  }
  .course-container {
    flex-direction: column;
  }

  .container1,
  .container2 {
    width: 100%;
  }

  .image-text-wrapper {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .course-text {
    width: 100%;
    padding-left: 0;
    padding-top: 1rem;
  }

  .container2-title {
    display: flex;
    justify-content: space-between;
  }

  .chapter-list {
    display: none;
  }

  .dropdown-btn {
    display: inline;
  }

  .chapter-list.visible {
    display: block;
    position: absolute;
    background-color: white;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
  }
}

/* CoursePage.css */
/* .dropdown-btn {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
} */


/* Course.css */
.course-div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
}

.chapters-list-div {
  padding: 1rem;
  width: 35%;
}

.chapter-content-div {
  padding: 1rem;
  width: 65%;
}

.chapter-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.chapter-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-right: 1rem;
}

.chapter-list {
  width: 100%;
}

.chapter-list-item {
  padding: 0.5rem 0;
  cursor: pointer;
}

.chapter-list-item:hover {
  background-color: #f0f0f0;
}

.chapters-list-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.dropdown-btn {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

@media (max-width: 767px) {
  .course-div {
    flex-direction: column;
  }

  .chapters-list-div,
  .chapter-content-div {
    width: 100%;
  }

  .chapter-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .chapter-image {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .dropdown-btn {
    display: inline;
  }

  .chapter-list {
    display: none;
  }

  .chapter-list.visible {
    display: block;
    position: absolute;
    background-color: white;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
  }
}
