#nasa-container-div {
    margin-top: 20px;
}

/* #nasa-row-div {
    
} */

#nasa-image-div {
    text-align: center;
}

#nasa-image {
    height: 90%;
    width: 90%;
    border: rgb(104, 101, 101) solid 1px;
    /* box-shadow: 7px 7px #414141; */
}

/* #nasa-text-div {

} */

#nasa-title {
    font-size: 50px;
    color: white;
}

#nasa-text {
    font-size: 20px;
    color: white;
    font-weight: bold;
}

@media (max-width: 1500px) {
    #nasa-text-div {
        margin-top: 10px;
        padding: 30px;
    }

    #nasa-title {
        font-size: 30px;
    }

    #nasa-text {
        font-size: medium;
    }
}

@media (max-width: 1200px) {
    #nasa-text-div {
        margin-top: 10px;
        padding: 30px;
    }

    #nasa-title {
        font-size: 20px;
    }

    #nasa-text {
        font-size: small;
    }
}

@media (max-width: 700px) {
    #nasa-text-div {
        margin-top: 10px;
        padding: 30px;
    }

    #nasa-title {
        font-size: x-large;
    }

    #nasa-text {
        font-size: small;
    }
}