#navbar-div {
    background: url("https://stsci-opo.org/STScI-01GQJH85CY08QA6A4S0M4FS109.png") no-repeat center center; 
    text-align: center;
    background-size: cover;
}

#navbar-container {
    text-align: center;
    padding: 20px 0;
}

#navbar-title {
    color: rgb(255, 255, 255);
    font-size: xx-large;
    font-weight: bold;
    text-decoration: none;
}

#navbar-link {
    color: rgb(255, 255, 255);
    font-weight: bold;
    /* font-style: italic; */
    text-decoration: none;
    font-size: large;
}

#navbar-items :hover{
    background-color:rgb(145, 204, 201);
}


#custom-container {
    height: 450px;
    color: rgb(255, 255, 255);
    width: 90%;
}

#home-title {
    padding-top: 100px;
}

#home-text {
    padding-top: 20px;
}

#home-button {
    margin-top: 40px;
}
@media (max-width: 800px) {
    #navbar-div {
        background: url("https://images.unsplash.com/photo-1539537127563-ef4adaf6e056?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8ZGFyayUyMHNwYWNlfGVufDB8fDB8fA%3D%3D&w=1000&q=80") ; 
    }
    
    #navbar-container {
        padding: 15px 0;
    }

    #navbar-title {
        font-size: x-large;
        padding-bottom: 15px;
    }

    #navbar-link {
        text-decoration: underline;
    }
}

@media (max-width: 1200px) {
    #navbar-title {
        font-size: x-large;
    }

    #navbar-link {
        font-size: medium;
    }
}

