.courses-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(100% / 3 - 1rem), 1fr));
  gap: 1rem;
  width: 60%;
  margin: 0 auto;
  padding: 1rem;
}

@media (max-width: 1100px) {
  .courses-container {
    grid-template-columns: repeat(auto-fit, minmax(calc(100% / 2 - 1rem), 1fr));
  }
}

@media (max-width: 767px) {
  .courses-container {
    grid-template-columns: 1fr;
    width: 70%;
  }
}

.courses-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}



.courses-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.courses-card-image {
  min-height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}


.courses-card-content {
  flex-grow: 1;
  padding: 1rem;
}


.courses-card-title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.courses-card-text {
  font-size: 1rem;
}

.courses-card-button {
  align-self: center;
  margin: 1rem auto 1.5rem;
  width: 60%;
  padding: 0.5rem 1rem;
  background-color: #050505;
  color: white;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
  border: none; /* Add this line to remove any border */
  outline: none; /* Add this line to remove the outline */
  box-shadow: none; /* Add this line to remove any box-shadow */
}





.courses-card-button:hover {
  background-color: #6e7174;
}

.courses-card-link {
  color: white;
  text-decoration: none;
}